comfy_post.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: comfy_post
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1739178810867-source-1739179686484-target
      selected: false
      source: '1739178810867'
      sourceHandle: source
      target: '1739179686484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1739179686484-source-1739178806323-target
      source: '1739179686484'
      sourceHandle: source
      target: '1739178806323'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1739173394551-source-1739248739641-target
      source: '1739173394551'
      sourceHandle: source
      target: '1739248739641'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 1739248739641-source-1739178810867-target
      source: '1739248739641'
      sourceHandle: source
      target: '1739178810867'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: prompt
          max_length: 3000
          options: []
          required: true
          type: paragraph
          variable: prompt
        - label: number
          max_length: 256
          options: []
          required: true
          type: number
          variable: number
      height: 115
      id: '1739173394551'
      position:
        x: 30
        y: 267
      positionAbsolute:
        x: 30
        y: 267
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1739179686484'
          - result
          variable: body
        selected: false
        title: 结束
        type: end
      height: 89
      id: '1739178806323'
      position:
        x: 1242
        y: 267
      positionAbsolute:
        x: 1242
        y: 267
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-4
            key: ''
            type: text
            value: "{\"prompt\":{\n  \"33\": {\n    \"inputs\": {\n      \"samples\"\
              : [\n        \"50\",\n        0\n      ],\n      \"vae\": [\n      \
              \  \"47\",\n        2\n      ]\n    },\n    \"class_type\": \"VAEDecode\"\
              ,\n    \"_meta\": {\n      \"title\": \"VAE解码\"\n    }\n  },\n  \"34\"\
              : {\n    \"inputs\": {\n      \"images\": [\n        \"33\",\n     \
              \   0\n      ]\n    },\n    \"class_type\": \"PreviewImage\",\n    \"\
              _meta\": {\n      \"title\": \"预览图像\"\n    }\n  },\n  \"35\": {\n  \
              \  \"inputs\": {\n      \"width\": 1024,\n      \"height\": 1024,\n\
              \      \"batch_size\": {{#1739173394551.number#}}\n    },\n    \"class_type\"\
              : \"EmptyLatentImage\",\n    \"_meta\": {\n      \"title\": \"空Latent\"\
              \n    }\n  },\n  \"40\": {\n    \"inputs\": {\n      \"filename_prefix\"\
              : \"ComfyUI\",\n      \"images\": [\n        \"33\",\n        0\n  \
              \    ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": {\n\
              \      \"title\": \"保存图像\"\n    }\n  },\n  \"44\": {\n    \"inputs\"\
              : {\n      \"text\": [\n        \"49\",\n        0\n      ],\n     \
              \ \"clip\": [\n        \"56\",\n        0\n      ]\n    },\n    \"class_type\"\
              : \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP文本编码器\"\
              \n    }\n  },\n  \"47\": {\n    \"inputs\": {\n      \"ckpt_name\":\
              \ \"sd3.5_large.safetensors\"\n    },\n    \"class_type\": \"CheckpointLoaderSimple\"\
              ,\n    \"_meta\": {\n      \"title\": \"Checkpoint加载器(简易)\"\n    }\n\
              \  },\n  \"48\": {\n    \"inputs\": {\n      \"text\": [\n        \"\
              49\",\n        0\n      ],\n      \"PreviewTextNode_0\": \"A little\
              \ yellow duck\"\n    },\n    \"class_type\": \"PreviewTextNode\",\n\
              \    \"_meta\": {\n      \"title\": \"预览文本\"\n    }\n  },\n  \"49\"\
              : {\n    \"inputs\": {\n      \"from_translate\": \"auto\",\n      \"\
              to_translate\": \"english\",\n      \"add_proxies\": false,\n      \"\
              proxies\": \"\",\n      \"auth_data\": \"\",\n      \"service\": \"\
              GoogleTranslator [free]\",\n      \"text\": \"{{#1739173394551.prompt#}}\"\
              ,\n      \"Show proxy\": \"proxy_hide\",\n      \"Show authorization\"\
              : \"authorization_hide\"\n    },\n    \"class_type\": \"DeepTranslatorTextNode\"\
              ,\n    \"_meta\": {\n      \"title\": \"翻译文本(高级)\"\n    }\n  },\n  \"\
              50\": {\n    \"inputs\": {\n      \"seed\": {{#1739248739641.seed#}},\n\
              \      \"steps\": 20,\n      \"cfg\": 9,\n      \"sampler_name\": \"\
              euler_ancestral\",\n      \"scheduler\": \"normal\",\n      \"denoise\"\
              : 1,\n      \"model\": [\n        \"47\",\n        0\n      ],\n   \
              \   \"positive\": [\n        \"44\",\n        0\n      ],\n      \"\
              negative\": [\n        \"53\",\n        0\n      ],\n      \"latent_image\"\
              : [\n        \"35\",\n        0\n      ]\n    },\n    \"class_type\"\
              : \"KSampler\",\n    \"_meta\": {\n      \"title\": \"K采样器\"\n    }\n\
              \  },\n  \"51\": {\n    \"inputs\": {\n      \"text\": \"text, watermark，leg,\
              \ shadow,bad anatomy, extra limbs, long neck, deformed, blurry, low\
              \ quality, artifacts，ugly, poorly drawn, out of focus, distorted, low\
              \ resolution, grainy, poorly lit，The picture collapses，Multiple quantities\"\
              ,\n      \"clip\": [\n        \"56\",\n        0\n      ]\n    },\n\
              \    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"\
              title\": \"CLIP文本编码器\"\n    }\n  },\n  \"52\": {\n    \"inputs\": {\n\
              \      \"from_translate\": \"auto\",\n      \"to_translate\": \"english\"\
              ,\n      \"add_proxies\": false,\n      \"proxies\": \"\",\n      \"\
              auth_data\": \"\",\n      \"service\": \"GoogleTranslator\",\n     \
              \ \"text\": \"低质量\",\n      \"Show proxy\": \"proxy_hide\",\n      \"\
              Show authorization\": \"authorization_hide\"\n    },\n    \"class_type\"\
              : \"DeepTranslatorTextNode\",\n    \"_meta\": {\n      \"title\": \"\
              翻译文本(高级)\"\n    }\n  },\n  \"53\": {\n    \"inputs\": {\n      \"conditioning_1\"\
              : [\n        \"51\",\n        0\n      ],\n      \"conditioning_2\"\
              : [\n        \"54\",\n        0\n      ]\n    },\n    \"class_type\"\
              : \"ConditioningCombine\",\n    \"_meta\": {\n      \"title\": \"条件合并\"\
              \n    }\n  },\n  \"54\": {\n    \"inputs\": {\n      \"text\": [\n \
              \       \"52\",\n        0\n      ],\n      \"clip\": [\n        \"\
              56\",\n        0\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\"\
              ,\n    \"_meta\": {\n      \"title\": \"CLIP文本编码器\"\n    }\n  },\n \
              \ \"56\": {\n    \"inputs\": {\n      \"clip_name1\": \"clip_l.safetensors\"\
              ,\n      \"clip_name2\": \"clip_g.safetensors\",\n      \"clip_name3\"\
              : \"t5xxl_fp16.safetensors\"\n    },\n    \"class_type\": \"TripleCLIPLoader\"\
              ,\n    \"_meta\": {\n      \"title\": \"三CLIP加载器\"\n    }\n  }\n}\n}"
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://172.16.50.118:8188/prompt
        variables: []
      height: 134
      id: '1739178810867'
      position:
        x: 636
        y: 267
      positionAbsolute:
        x: 636
        y: 267
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "\nimport json\nimport requests\nimport time\ndef main(body: str) ->\
          \ dict:\n    data= json.loads(body)\n    prompt_id=data[\"prompt_id\"]\n\
          \    number=data[\"number\"]\n    images=[]\n    image_urls=[]\n    while\
          \ True:\n        time.sleep(3)\n        data = requests.get(\"http://172.16.50.118:8188/history/\"\
          +prompt_id).json()\n        if prompt_id in data:\n            status=data[prompt_id][\"\
          status\"]\n            if status[\"completed\"] and status[\"status_str\"\
          ]==\"success\":\n                images=data[prompt_id][\"outputs\"][\"\
          40\"][\"images\"]\n                break\n        else:\n            continue\n\
          \    for img in images:\n        image_urls.append(\n            \"http://172.16.50.118:8188/view?filename=\"\
          +img[\"filename\"]+\"&subfolder=\"+img[\"subfolder\"]+\"&type=output\"\n\
          \        )\n    return {\n        \"result\": image_urls ,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        retry_config:
          max_retries: '6'
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1739178810867'
          - body
          variable: body
      height: 78
      id: '1739179686484'
      position:
        x: 939
        y: 267
      positionAbsolute:
        x: 939
        y: 267
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import secrets\n\ndef main() -> dict:\n    seed = secrets.randbelow(999999999999999)\n\
          \    return {\"seed\": seed}"
        code_language: python3
        desc: ''
        outputs:
          seed:
            children: null
            type: number
        selected: false
        title: 代码执行 2
        type: code
        variables: []
      height: 53
      id: '1739248739641'
      position:
        x: 333
        y: 267
      positionAbsolute:
        x: 333
        y: 267
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -177.90000000000055
      y: -7.10000000000008
      zoom: 1.4000000000000004
